
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-play-circled2:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-gmail:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\e806'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
